[Desktop Entry]
Type=Application
Name=GUIslice
GenericName=GUIslice Builder
Comment=Open-source electronics prototyping user interfaces
Exec=bash -c 'cd <WORKING_DIR> && <BINARY_LOCATION>'
Icon=<ICON_NAME>
Terminal=false
Categories=Development;IDE;Electronics;
Keywords=embedded electronics;electronics;avr;microcontroller;
StartupWMClass=builder.Builder
